<div class="container">
	<div class="row">
		<div class="col-xs-12">
	<% @client.user_timeline.first(9).each do |tweet| %>
		<div class="post"><%= tweet.text %><br></div>
    <% end %>
    	</div>
	</div>
</div>
