<div class="container">
	<div class="row">
		<div class="col-xs-12">
	<% @client.user_timeline.first(20).each do |tweet| %>
		<div class="post">
		<% if tweet.media[0] %>
		<%= image_tag(tweet.media[0].media_url, class:"img-responsive center-block") %><br>
		<%= tweet.text %><br>
		<% else %>
		<%= tweet.text %>
		<% end %>
		</div>
    <% end %>
    	</div>
	</div>
</div>

