<div id="header" style="background:black;">header</div>
<div class="row">
    <div class="col-sm-4" style="background-color:blue">Main 1 </div>
    <div class="col-sm-4" style="background-color:yellow">Main 2 </div>
    <div class="col-sm-4" style="background-color:red">Main 3 </div>
</div>